/* body{  background-image:   url(../../Image/login.png);
background-repeat: no-repeat; 
width:1000px;
} */
#formInSignUp{
    /* position: relative; */
    display: flex;
    /* width: 574px; */
    /* height: 299px; */
    width: 474px;
    height: 381px;
    /* left: 20%; */
    display: inline-block;

    background: #ffffff6b;
    border-radius: 21px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: inline-block;  
    /* margin-top: 40px; */
    padding-top: 50px;
    padding-left: 30PX;
    PADDING-RIGHT: 40PX;
    PADDING-BOTTOM: 50PX;
    
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {padding-top: 2px;}
#boxTextFields{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 27%;
  
}
#boxTextFields {
  width:fit-content;
  padding: 0;
  display: flex;
  
}
#header {
  /* position: absolute; */
  /* width: 292px;
    height: 45px; */
  /* left: 270px;
    top: 482px; */

  /* font-family: "Heebo"; */
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  text-align: center;

  color: #000000;
}#startText{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  /* line-height: 35px; */
  text-align: center;

  color: #000000;
}
#userName #password #verifyPassword #email #phoneNumber{
  /* box-sizing: border-box; */

  /* position: absolute; */
  /* width: 396px;
  height: 40px; */
  /* left: 825px;
top: 395px; */

  background: #ffffff;
  border: 0.5px solid #2757ff;
  border-radius: 21px;
}
#buttonSubmitInSignUp{
  margin-top: 5px;
}