#upperPart {
  background: rgb(255, 255, 255);
  /* background-size: 40%; */
  position: fixed;
  display: block;
  width: 100vw;
  height: 45vh;
  z-index: 1;
}
#aboutUs {
  direction: rtl;
  width: 325px;
  height: 313px;
  position: fixed;
  left: 1080px;
  top: 3px;
  background: #231535;
  border: 1px solid #000000;
  border-radius: 21px;
  color: #ffffff;
  /* padding-top: 10px; */
}
#aboutHeader {
  font-size: 36px;
  text-align: center;
  line-height: 53px;
  margin-right: 35px;
}

#aboutContent {
  font-size: 20px;
  width: 305px;
  line-height: 29px;
  text-align: right;
  margin-right: 20px;
  margin-left: 20px;
}
#bottomPart {
  background: rgba(35, 21, 53, 0.05);
  position: relative; 
  top: 45vh;
  /* height: 55vh; */
}
#headerPublicProjects {
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  position: fixed;
  left: 583px;
  top: 293px;
  z-index: 2;
}
.buttonAddProject{


/* width: 341px;
height: 67px; */
/* left: 45px;
top: 919px; */
color: #ffffff;
display: inline-block;
background: #2D61B7;
box-shadow: 0px 4px 20px rgba(40, 59, 154, 0.25);
border-radius: 33.5px;
}
#divButtonAddProject{
   position: fixed;
   z-index: 5; 
   background-color: red;
}