#boxOfInformation {
    width: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    right: -55%;
    direction: rtl;
}
#usersInUseIcon {
}
#boxUserInUse,
#boxOpenedBook,
#boxClosedBook {
    margin-bottom: 15%;
}
.infoUsersInUse,
.infoOpenedBook,
.infoClosedBook {
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 43%;
  text-align: center;
}
.infoUsersInUse {
  color: #fa505a;
}
.infoOpenedBook {
  color: #308015;
}
.infoClosedBook {
  color: #2d61b7;
}
#usersInUseIcon,#OpenedBookIcon,#closedBookIcon{
margin-left: 25%;
}

.sentence {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
