#boxProjectMember {
  position: absolute;
  top: 0;
  right: 0;
  /* padding-right: 25px;
  padding-left: 25px; */
  width: 380px;

  /* height: 100vh; */
  /* height: 100vh; */
  /* right: -1200px; */
  /* left: 1482px; */
  /* top: -145px; */
  /* top:-900px; */
  /* overflow-y: auto; */
  height: 100vh;
  background-color: #231535;
  /* align-items: center; */
}
#allProjectMember {
  height: 87vh;
  overflow-y: auto;
  display: flex;
  gap: 25px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
#boxProjectMember h1{
  color: #fff;
}
