/* .MuiCircularProgress-circle,
.MuiCircularProgress-circle,
.MuiCircularProgress-svg,
.MuiCircularProgress-colorSecondary,
.MuiCircularProgress-colorPrimary,
.MuiCircularProgress-indeterminate {
  color: aqua;
  background-color: blueviolet;
} */
/* .MuiCircularProgress-colorPrimary {
    color: green !important;
} */