#body_newProject {


  /* background-image: url(../../Image/sunrise-1634197_1920\ 1.png);  */
  /* background-repeat: no-repeat; */
  width: 100vw;
  height: calc(100vh, "-", 3%);
  text-align: center;
  justify-content: center;
  display: inline-block;
  align-items: center;


}

.box {
  position: relative;
  /* width: 1556px;
  /* left: -116px; */
  top: 14%;



}

#form {

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  margin-left: 40%;
  background: #ffffff6b;
  border-radius: 21px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#kategoryNameLabel {
  height: 30px;
}

#new_project {
  font-family: sans-serif;
  font-size: 30px;
}

#button_submit {
  background-color: blue;
  color: white;
  font-family: sans-serif;
  margin: 15px;
  border-radius: 21px;

}

#headerInNewProject {
  margin-top: 3%;
}
#Logo_newProject{
  margin-left: 50px;
}
#btn_addEmail{
  background-color: blue;
  color: white;
  font-family: sans-serif;
    border-radius: 21px;
}
/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */