#body{
    /* text-align: center; */
    height: 45vh;
}
#divProjectMember{
    background-color: #231535;;
}
#boxOfContentInMyHome{
    height: 100vh;
    /* padding-top: 2%;
    padding-right: 1%; */
}