#boxAllProjectInvited {
  background: rgba(35, 21, 53, 0.05);
  position: relative;
  left: 2%;
  top: 21vh;
  width: 70vw;
  text-align: center;
  padding-top: 5px;
}
#allProjectInvited {
  display: flex;
  overflow-x: auto;
  height: 22.5vh;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
#allProjectInvited h1 {
  margin-top: 5px;
}
