/* #header{

} */
body {}

#formInLogin {
    display: inline-block;
    background: #ffffff6b;
    border-radius: 21px;
    /* margin: 0 auto; */
    width: 474px;
    height: 199px;
    /* margin-top: 400px; */
    padding-top: 50px;
    padding-left: 30PX;
    PADDING-RIGHT: 40PX;
    PADDING-BOTTOM: 50PX;
}

#usernameInput {
    border-radius: 5px;
    height: 30px;
    margin: 5px;
    margin-left: 150px;

}

#passwordInput {
    border-radius: 5px;
    height: 30px;
    margin: 5px;
    margin-left: 150px;

}

#submitButton {
    border-radius: 5px;
    height: 35px;
    background-color: green;
    color: white;
    margin: 5px;
    /* margin-left: 180px; */
    width: 100px;
}

#signUpText {
    /* margin-left: 200px; */
text-align: center;
}

#formInLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}